In [1]:
#this file one hot encodes sepsis identification and gender

In [2]:
import pandas as pd
import math

In [3]:
df1 = pd.read_csv(
     '../FormattedData/36.csv'
)

In [4]:
df1

,Unnamed: 0,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Gender
0,0,0.0,126.0,93.0,115.0,36.2,18.0,98.0,46,M
1,1,30.0,-1.0,-1.0,111.0,-1.0,-1.0,100.0,46,M
2,2,269.0,127.0,98.0,85.0,-1.0,18.0,-1.0,46,M
3,3,1222.0,113.0,80.0,62.0,36.5,-1.0,-1.0,46,M
4,4,1695.0,102.0,64.0,69.0,-1.0,-1.0,-1.0,46,M
...,...,...,...,...,...,...,...,...,...,...
1080969,1080969,398544.0,115.0,40.0,67.0,-1.0,16.0,100.0,63,M
1080970,1080970,398621.0,122.0,59.0,72.0,-1.0,16.0,95.0,63,M
1080971,1080971,398711.0,120.0,78.0,77.0,36.7,16.0,95.0,63,M
1080972,1080972,398997.0,157.0,82.0,64.0,36.5,15.0,94.0,63,M
1080973,1080973,399290.0,147.0,82.0,63.0,36.6,16.0,96.0,63,M

In [5]:
del df1["Unnamed: 0"]

In [6]:
df1

         new_date    BP1   BP2  Pulse  Temp    RR  O2Sat  Age_Number Gender
0             0.0  126.0  93.0  115.0  36.2  18.0   98.0          46      M
1            30.0   -1.0  -1.0  111.0  -1.0  -1.0  100.0          46      M
2           269.0  127.0  98.0   85.0  -1.0  18.0   -1.0          46      M
3          1222.0  113.0  80.0   62.0  36.5  -1.0   -1.0          46      M
4          1695.0  102.0  64.0   69.0  -1.0  -1.0   -1.0          46      M
...           ...    ...   ...    ...   ...   ...    ...         ...    ...
1080969  398544.0  115.0  40.0   67.0  -1.0  16.0  100.0          63      M
1080970  398621.0  122.0  59.0   72.0  -1.0  16.0   95.0          63      M
1080971  398711.0  120.0  78.0   77.0  36.7  16.0   95.0          63      M
1080972  398997.0  157.0  82.0   64.0  36.5  15.0   94.0          63      M
1080973  399290.0  147.0  82.0   63.0  36.6  16.0   96.0          63      M

[1080974 rows x 9 columns]

In [7]:
rows = len(df1)
rows

1080974

In [9]:
i=0
# positive = []
# negative = []
male = []
female = []


while i<rows:
    # diag = df1.iloc[i][1]
    # if diag == 0:
    #     negative.append(1)
    #     positive.append(0)
    # elif diag == 1:
    #     positive.append(1)
    #     negative.append(0)
    # else:
    #     print("rows", i)
    #     print (diag)
    #     print(type(diag))
    #     raise ValueError
    
    gender = df1.iloc[i][8]
    if gender == "M" or gender == "m":
        male.append(1)
        female.append(0)
    elif gender == "F" or gender == "f":
        female.append(1)
        male.append(0)
    else:
        try:
            value1 = float(gender)
            if math.isnan(value1):
                male.append(0)
                female.append(0)
            else:
                print(value1)
                print("HERE")
                raise ValueError
        except:
            print("cant convert to float")
            print("rows", i)
            print(gender)
            print(type(gender))
            raise ValueError


   

    i+=1

In [10]:
# del df1["Diag_desc"]
# df1["positive_diag"] = positive
# df1["negative_diag"] = negative

del df1["Gender"]
df1["Male"] = male
df1["Female"] = female

In [11]:
df1 = df1[['pt_identifier', 'positive_diag', 'negative_diag', 'new_date', 'BP1', 'BP2', 'Pulse', 'Temp', 'RR', 'O2Sat',
       'Age_Number', 'Male', 'Female', 'Weight',
       'Most_responsible', 'pre_admit', 'post_admit', 'secondary', 'Lactate_adjusted', 'WBC_adjusted']]

In [11]:
df1

,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Male,Female
0,0.0,126.0,93.0,115.0,36.2,18.0,98.0,46,1,0
1,30.0,-1.0,-1.0,111.0,-1.0,-1.0,100.0,46,1,0
2,269.0,127.0,98.0,85.0,-1.0,18.0,-1.0,46,1,0
3,1222.0,113.0,80.0,62.0,36.5,-1.0,-1.0,46,1,0
4,1695.0,102.0,64.0,69.0,-1.0,-1.0,-1.0,46,1,0
...,...,...,...,...,...,...,...,...,...,...
1080969,398544.0,115.0,40.0,67.0,-1.0,16.0,100.0,63,1,0
1080970,398621.0,122.0,59.0,72.0,-1.0,16.0,95.0,63,1,0
1080971,398711.0,120.0,78.0,77.0,36.7,16.0,95.0,63,1,0
1080972,398997.0,157.0,82.0,64.0,36.5,15.0,94.0,63,1,0
1080973,399290.0,147.0,82.0,63.0,36.6,16.0,96.0,63,1,0

In [12]:
df1.head(60)

    new_date    BP1    BP2  Pulse  Temp    RR  O2Sat  Age_Number  Male  Female
0        0.0  126.0   93.0  115.0  36.2  18.0   98.0          46     1       0
1       30.0   -1.0   -1.0  111.0  -1.0  -1.0  100.0          46     1       0
2      269.0  127.0   98.0   85.0  -1.0  18.0   -1.0          46     1       0
3     1222.0  113.0   80.0   62.0  36.5  -1.0   -1.0          46     1       0
4     1695.0  102.0   64.0   69.0  -1.0  -1.0   -1.0          46     1       0
5     3259.0  121.0   65.0  104.0  36.5  -1.0  100.0          46     1       0
6    11184.0  127.0   83.0  113.0  37.2  16.0   97.0          46     1       0
7   103997.0  130.0   92.0   93.0  36.8  14.0  100.0          46     1       0
8   168976.0  143.0   97.0  123.0  36.6  14.0  100.0          46     1       0
9   169317.0  125.0   96.0   86.0  36.7  18.0   98.0          46     1       0
10  169648.0   -1.0   -1.0   66.0  36.5  16.0  100.0          46     1       0
11  328220.0  152.0   82.0   70.0  -1.0  18.0   98.0          46     1       0
12  328620.0  106.0   70.0   78.0  -1.0  16.0   96.0          46     1       0
13  329319.0  115.0   73.0   60.0  36.4  16.0   99.0          46     1       0
14  329489.0  136.0   85.0   88.0  36.5  18.0   98.0          46     1       0
15  356967.0  123.0   76.0   69.0  36.4  14.0   99.0          46     1       0
16  468066.0  100.0   64.0  117.0  37.6  15.0   97.0          46     1       0
17  468181.0   91.0   57.0   86.0  36.8  20.0   98.0          46     1       0
18  468232.0   95.0   58.0   85.0  36.6  20.0   97.0          46     1       0
19  468350.0   96.0   63.0   78.0  36.8  16.0   96.0          46     1       0
20  468552.0   90.0   60.0   62.0  -1.0  16.0   97.0          46     1       0
21  468730.0   99.0   60.0   56.0  -1.0  16.0   98.0          46     1       0
22  468997.0   95.0   60.0   70.0  36.4  20.0   97.0          46     1       0
23  469111.0   90.0   71.0   66.0  36.8  16.0   97.0          46     1       0
24  469347.0  109.0   75.0   84.0  36.4  20.0   99.0          46     1       0
25  469602.0   99.0   63.0   73.0  36.2  22.0  100.0          46     1       0
26  469719.0  116.0   83.0   73.0  36.3  16.0  100.0          46     1       0
27  469964.0  109.0   70.0   72.0  36.3  16.0   98.0          46     1       0
28  470437.0   99.0   74.0   74.0  36.3  16.0   98.0          46     1       0
29  471206.0  133.0   88.0   87.0  36.3  16.0  100.0          46     1       0
30  471848.0  108.0   72.0   89.0  36.5  16.0   99.0          46     1       0
31  472588.0  133.0   93.0   76.0  36.5  16.0  100.0          46     1       0
32  473297.0  103.0   73.0   72.0  36.4  16.0  100.0          46     1       0
33  473707.0  187.0   83.0   73.0  36.5  16.0  100.0          46     1       0
34  473819.0  116.0   86.0  132.0  36.5  16.0  100.0          46     1       0
35  687646.0  143.0  100.0   80.0  36.0  16.0   95.0          46     1       0
36  730162.0  113.0   68.0   91.0  37.6  12.0  100.0          46     1       0
37  730186.0  104.0   63.0   94.0  -1.0  10.0   92.0          46     1       0
38  730205.0  107.0   74.0   98.0  -1.0  20.0   97.0          46     1       0
39  730234.0  118.0   79.0   99.0  -1.0  18.0   99.0          46     1       0
40       0.0  198.0   88.0   70.0  36.8  18.0   99.0          81     0       1
41  173948.0  163.0   84.0   86.0  38.1  18.0   97.0          81     0       1
42  300828.0  125.0   79.0   96.0  37.4  13.0   96.0          81     0       1
43  307352.0  180.0  120.0  170.0  36.1  18.0   98.0          81     0       1
44  307774.0  192.0   74.0   70.0  36.7  16.0   97.0          81     0       1
45  308264.0  132.0   73.0   84.0  -1.0  17.0   98.0          81     0       1
46  308324.0  146.0   71.0   78.0  -1.0  16.0   94.0          81     0       1
47  308567.0  155.0   69.0   70.0  -1.0  14.0   95.0          81     0       1
48  308644.0  158.0   82.0   69.0  36.4  16.0   91.0          81     0       1
49  309015.0  167.0   86.0   67.0  36.5  14.0   95.0          81     0       1
50  309832.0  168.0   81.0   64.0  36.6  16.0   99.0          81     0       1
51  310490.0  172.0   81.0   59.0  36.6  14.0   95.0          81     0       1
52  530098.0  174.0   89.0   87.0  36.5  18.0   97.0          81     0       1
53  631038.0  138.0   76.0   98.0  36.8  16.0   98.0          81     0       1
54  739119.0  116.0   84.0   88.0  36.9  17.0   97.0          81     0       1
55  739351.0  126.0   64.0   69.0  37.0  10.0   94.0          81     0       1
56       0.0  154.0   79.0   60.0  36.9  16.0   97.0          49     1       0
57     513.0  134.0   87.0   60.0  36.2  16.0   95.0          49     1       0
58    1370.0  121.0   77.0   54.0  36.8  16.0   97.0          49     1       0
59    1988.0  131.0   77.0   61.0  36.4  16.0   95.0          49     1       0

In [13]:
df1.to_csv('37.csv')